h1 {
  color: black;
  font-size: 30px;

}

.mealList {
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 300px;
  height: 180px;
  float: left;

}

body {
background-color:pink;
}
